/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-medium: 500;
}


/*===== Colors =====*/
:root {
    --first-color: #34586B;
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}

/*===== Fonts =====*/
:root{
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*===== Margin =====*/
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/*===== z index =====*/
:root{
    --z-fixed: 100;
}

/*===== Base =====*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
}

.h1,h2,p {
    margin: 0;
}

.a{
    text-decoration: none;
    color: var(--text-color);
}

/*===== Page Titles =====*/
.section{
    padding: 3rem 0;
}

.section-title {
    position: relative;
    text-align: center;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
}

.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/*===== NavBar =====*/
.navbar {
    height: calc(var(--header-height) + 1rem);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .navbar-collapse{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}

.nav-item {
    margin-bottom: var(--mb-4);
    color: var(--white-color);
}

.nav-link {
    position: relative;
    color: var(--white-color);
}
.navbar-nav .nav-link.active {
    color: var(--white-color);
}

.nav-link:hover {
    color: var(--white-color);
}

.navbar-brand {
    color: var(--white-color);
    text-decoration: none;
}

.navbar-toggler {
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar .navbar-toggler {
    border-color: var(--white-color);
}

/*=== Show menu ===*/
.show{
    right: 0;
}
/*Active menu*/
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*===== Home =====*/
.home_page {
    height: calc(100vh - var(--header-height));
    margin: 0 auto;
    background-color: var(--first-color);
    row-gap: 5rem;
    padding-left: 2rem;
}
.home_text {
    position: relative;
    top: 5rem;
}
.home_intro {
    font-size: 3rem;
    color: var(--white-color);
    line-height: .8;
}
.text_home {
    font-size: 1.5rem;
    color: var(--white-color);
    line-height: .8;
}
.image_home {
    right: 0;
    bottom: 0;
    width: 195px;
    overflow: hidden;
}
.home_image {
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 5%;
    position: absolute;
}

.row>* {
    padding-left: 0;
}

/*===== About =====*/
.about_page {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    row-gap: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.image_about {
    width: 165px;
}
.about_image_row {
    align-items: center;
}
.about_image_column {
    align-items: center;
    justify-content: center;
    display: flex;
}

/*===== Skills =====*/
.skills_page {
    /*height: 100vh; Use vh as a fallback for browsers that do not support Custom Properties 
    height: calc(var(--vh, 1vh) * 100);*/
    margin: 0 auto;
    row-gap: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.skills-subtitle {
    color: var(--first-color);
    padding-left: 1rem;
}
.skills-image-small {
    display: inline-block;
    width: 75px;
    margin-right: -2rem;
    padding: 0.25rem 0.5rem;
}
.skills-image-big {
    display: inline-block;
    width: 37.5px;
    margin-right: var(--mb-2);
    padding: 0.25rem 0.5rem;
}
.skills-image-db {
    display: inline-block;
    width: 50px;
    margin-right: var(--mb-2);
    padding: 0.25rem 0.5rem;
}
.skills-image-other {
    display: inline-block;
    width: 62.5px;
    padding: 0.25rem 0.5rem;
}
.skills-row {
    display: inline-block;
}

/*===== Portfolio =====*/
.portfolio_page {
    /*height: 100vh;  Use vh as a fallback for browsers that do not support Custom Properties 
    height: calc(var(--vh, 1vh) * 100);*/
    margin: 0 auto;
    row-gap: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.portfolio {
    background-color: var(--white-color);
}
.card-title {
    text-align: center;
    color: var(--first-color);
}
.card:hover .servicesIcon {
    color: var(--first-color);
}
.card-img-top {
    max-width: 100%;
    height: 170.95px;
}
.servicesText:hover {
    border: 1px solid var(--first-color);
}
.btn-success {
    --bs-btn-bg: var(--first-color);
}

/*===== Contact =====*/
.contact_page {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    row-gap: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*===== Social Icons =====*/
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin:hover, 
.fa-github:hover {
    color: var(--text-color);
}
.fab {
    color: #000000;
}

/*===== Media Queries =====*/
@media screen and (min-width: 1024px){
    .home_page{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }
    .navbar{
        height: calc(var(--header-height) + 1rem);
    }
    .navbar-nav{
        display: flex;
    }
    .nav-item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .navbar-toggler{
        display: none;
    }
    .nav-link {
        color: var(--white-color);
    }
    .navbar-nav .nav-link.active{
        color: var(--white-color);
    }
    .nav-link:hover {
        color: var(--white-color);
    }
    .a:hover {
        color: var(--white-color);
    }
    .a:visited {
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }
    .home_page {
        height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
        background-color: var(--first-color);
        row-gap: 0;
    }
    .image_home {
        right: 10%;
        width: 295px;
    }
    .home_text home_intro {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    .home_text text_home {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    .home_intro {
        align-self: flex-end;
        font-size: 4.5rem;
        color: var(--white-color);
        line-height: .8;
    }
    .text_home {
        align-self: flex-end;
        font-size: 2rem;
        color: var(--white-color);
        line-height: .8;
        padding-top: 1rem;
    }
    .home-top-row {
        padding-top: 115px;
    }
    .home-bottom-row {
        padding-top: 41px;
    }
    .about_page {
        height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
        row-gap: 0;
    }
    .skills_page {
        /*height: 100vh;  Use vh as a fallback for browsers that do not support Custom Properties */
        row-gap: 0;
    }
    .skills-image-small {
        display: inline-block;
        width: 150px;
        margin-right: -2rem;
        padding: 0.25rem 0.5rem;
    }
    .skills-image-big {
        display: inline-block;
        width: 75px;
        margin-right: var(--mb-2);
        padding: 0.25rem 0.5rem;
    }
    .skills-image-db {
        display: inline-block;
        width: 100px;
        margin-right: var(--mb-2);
        padding: 0.25rem 0.5rem;
    }
    .skills-image-other {
        display: inline-block;
        width: 125px;
        padding: 0.25rem 0.5rem;
    }
    .portfolio_page {
        /*height: 100vh;  Use vh as a fallback for browsers that do not support Custom Properties */
        row-gap: 0;
    }
    .contact_page {
        height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
        row-gap: 0;
    }
}