/*===== Colors =====*/
:root {
    --first-color: #FA8072;
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}

/*===== Base =====*/
body{
    color: var(--text-color);
}

.text-center {
    color: var(--dark-color);
}

.section {
    padding-top: 4rem;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
}

.h1,h2,p {
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/*===== NavBar =====*/
.navbar {
    background-color: var(--first-color);
}

.navbar-brand {
    color: var(--white-color);
}

.nav-item {
    color: var(--white-color);
}

/*===== Home =====*/
.home_page {
    background-color: var(--first-color);
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    max-width: 30%;
}
.home_intro {
    font-size: 4.5rem;
    color: var(--white-color);
}
.text_home {
    font-size: 2rem;
    color: var(--white-color);
}
.home_text {
    align-self: flex-end;
    color: var(--white-color);
}

.home_scroll-link {
    align-self: flex-end;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}

.image_home {
    /*position: absolute;*/
    right: 10%;
    bottom: 0;
    width: 300px;
    overflow: hidden;
}

/*===== About =====*/
.image_about {
    width: 100%;
    height: 100%;
}

/*===== Social Icons =====*/
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin:hover, 
.fa-github:hover {
    color: #fff;
}
.fab {
    color: #000000;
}

/*===== Services =====*/
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

@media screen and (min-width: 1024px){
    .col-lg-6{
        margin-left: auto;
        margin-right: auto;
    }
}