/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-medium: 500;
}


/*===== Colors =====*/
:root {
    --first-color: #FA8072;
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}

/*===== Fonts =====*/
:root{
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*===== Margin =====*/
:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/*===== z index =====*/
:root{
    --z-fixed: 100;
}

/*===== Base =====*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
}

.h1,h2,p {
    margin: 0;
}

.a{
    text-decoration: none;
    color: var(--text-color);
}

/*===== Page Titles =====*/
.section{
    padding: 3rem 0;
}

.section-title {
    position: relative;
    text-align: center;
    color: var(--dark-color);
}

.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

/*===== NavBar =====*/
.navbar {
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .navbar-collapse{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}

.nav-item {
    margin-bottom: var(--mb-4);
}

.nav-link {
    position: relative;
    color: var(--dark-color);
}

.nav-link:hover {
    color: var(--first-color);
}

.navbar-brand {
    color: var(--white-color);
}

.navbar-toggler{
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*=== Show menu ===*/
/*.show{
    right: 0;
}*/

/*Active menu*/
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*===== Home =====*/
.home_page {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    background-color: var(--first-color);
    row-gap: 5rem;
}
.home_intro {
    align-self: flex-end;
    font-size: 4.5rem;
    color: var(--white-color);
    line-height: .8;
}
.text_home {
    align-self: flex-end;
    font-size: 2rem;
    color: var(--white-color);
    line-height: .8;
}
.home_text {
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .8;
}

/*.home_scroll-link {
    align-self: flex-end;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}*/

.image_home {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    width: 295px;
    overflow: hidden;
}

/*===== About =====*/
.image_about {
    width: 165px;
}

/*===== Portfolio =====*/
.portfolio {
    background-color: var(--white-color);
}

/*===== Services =====*/
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/*===== Social Icons =====*/
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin:hover, 
.fa-github:hover {
    color: #fff;
}
.fab {
    color: #000000;
}

/*===== Media Queries =====*/
@media screen and (min-width: 1024px){
    .home_page{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }
    .navbar{
        height: calc(var(--header-height) + 1rem);
    }
    .navbar-nav{
        display: flex;
    }
    .nav-item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .navbar-toggler{
        display: none;
    }
    .nav-link {
        color: var(--white-color);
    }
    .navbar-nav .nav-link.active{
        color: var(--white-color);
    }
    .nav-link:hover {
        color: var(--white-color);
    }
    .a:hover {
        color: var(--white-color);
    }
    .a:visited {
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }
    .home_page {
        height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
        background-color: var(--first-color);
        row-gap: 0;
    }
    .image_home {
        right: 10%;
    }
}